* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECFFFA;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    min-height: 700px;
    margin: auto;
    background-color: #FFFFFF;
}

main>h1 {
    margin: 50px 0;
    color: red;
    font-weight: 700;
    font-size: 2.5rem;
}

main>div {
    display: flex;
    gap: 10px
}

main>div h2 {
    color: #28A684;
}

main>div input {
    width: 220px;
    height: 35px;
    border: 2px solid #E3E3E3;
    margin: 3px 0 10px;
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

main>div button {
    font-size: 1.2rem;
    color: #3BAD8E;
    width: 220px;
    border: 3px solid #3BAD8E;
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
    padding: 8px;
}

main>div button:hover {
    background-color: #f5f5f5;
    box-shadow: 0px 0px 3px black;
}

main>div button:focus {
    background-color: #f5f5f5;
}

main .resultado {
    color: #FFFFFF;
    font-size: 1.5rem;
    margin: 40px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
    border-radius: 5px;
}

table {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

thead :first-child {
    width: 35%;
}

th {
    border: none;
    padding: 10px;
    background-color: #28A684;
    color: #ffffff;
    font-size: 1.3rem;
}

tbody {
    text-align: center;
    background-color: #faf5f5;
}

td {
    padding: 10px;
    /* background-color: #CDEAE3; */
    border-right: 2px solid #ffffff;
}

tbody :last-child {
    border: none;
}